<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/shelf.css" />
    <script src="./shelf.js"></script>
  </head>
  <body>
    <div id="shelf-app">
      <v-app light>
        <v-content>
          <app-header></app-header>
          <book-listing :listing="{{books}}"></book-listing>
        </v-content>
      </v-app>
    </div>
  </body>
</html>
